[Desktop Entry]
Encoding=UTF-8
Name=Digital Clock BE style
Name[af]=Digitale horlosie BE style
Name[ar]= BE styleساعة رقمية
Name[ast]=Reló dixital BE style
Name[be]=Лічбавы гадзіннік BE style
Name[be@latin]=Ličbavy hadzińnik BE style
Name[bg]=Цифров часовник BE style
Name[bn]=ডিজিটাল ঘড়ি BE style
Name[bn_IN]=ডিজিট্যাল ঘড়ি BE style
Name[bs]=Digitalni sat BE style
Name[ca]=Rellotge digital BE style
Name[ca@valencia]=Rellotge digital BE style
Name[cs]=Digitální hodiny BE style
Name[csb]=Cyfrowi zédżer BE style
Name[da]=Digitalt ur BE style
Name[de]=Digitale Uhr BE style
Name[el]=Ψηφιακό ρολόι BE style
Name[en_GB]=Digital Clock BE style
Name[eo]=Cifereca horloĝo BE style
Name[es]=Reloj digital BE style
Name[et]=Digikell BE style
Name[eu]=Erloju digitala BE style
Name[fi]=Digitaalinen kello BE style
Name[fr]=Horloge numérique BE style
Name[fy]=Digitale klok BE style
Name[ga]=Clog Digiteach BE style
Name[gl]=Reloxo dixital BE style
Name[gu]=ડિજીટલ ઘડિયાળ BE style
Name[he]= BE styleשעון דיגיטלי
Name[hi]=डिजिटल घड़ी BE style
Name[hne]=डिजिटल घड़ी BE style
Name[hr]=Digitalni sat BE style
Name[hsb]=Digitalny časnik BE style
Name[hu]=Digitális óra BE style
Name[ia]=Horologio digital BE style
Name[id]=Jam Digital BE style
Name[is]=Stafræn klukka BE style
Name[it]=Orologio digitale BE style
Name[ja]=デジタル時計 BE style
Name[kk]=Цифрлық сағат BE style
Name[km]=នាឡិកា​ឌីជីថល BE style
Name[kn]=ಅಂಕೀಯ (ಡಿಜಿಟಲ್) ಗಡಿಯಾರ BE style
Name[ko]=디지털 시계 BE style
Name[ku]=Demjimêra Dîjîtal BE style
Name[lt]=Skaitmeninis laikrodis BE style
Name[lv]=Ciparu pulkstenis BE style
Name[mai]=डिजिटल घडी BE style
Name[mk]=Дигитален часовник BE style
Name[ml]=ഡിജിറ്റല്‍ ഘടികാരം BE style
Name[mr]=डिजिटल घड्याळ BE style
Name[nb]=Digital klokke BE style
Name[nds]=Digitaal Klock BE style
Name[ne]=डिजिटल घडी BE style
Name[nl]=Digitale klok BE style
Name[nn]=Digital klokke BE style
Name[oc]=Relòtge numeric BE style
Name[or]=ସାଂଖିକ ଘଡ଼ି BE style
Name[pa]=ਡਿਜਿਟਲ ਘੜੀ BE style
Name[pl]=Zegar cyfrowy BE style
Name[pt]=Relógio Digital BE style
Name[pt_BR]=Relógio digital BE style
Name[ro]=Ceas digital BE style
Name[ru]=Цифровые часы BE style
Name[se]=Digitálalaš diibmu BE style
Name[si]=අංකිත ඔරලෝසුව BE style
Name[sk]=Digitálne hodiny BE style
Name[sl]=Digitalna ura BE style
Name[sr]=дигитални сат BE style
Name[sr@ijekavian]=дигитални сат BE style
Name[sr@ijekavianlatin]=digitalni sat BE style
Name[sr@latin]=digitalni sat BE style
Name[sv]=Digitalklocka BE style
Name[ta]=எண்ணுரு கடிகாரம் BE style
Name[te]=డిజిటల్ గడియారం BE style
Name[tg]=Соати рақамӣ BE style
Name[th]=นาฬิกาดิจิทัล BE style
Name[tr]=Dijital Saat BE style
Name[ug]= BE styleرەقەملىك سائەت
Name[uk]=Цифровий годинник BE style
Name[uz]=Raqamli soat BE style
Name[uz@cyrillic]=Рақамли соат BE style
Name[vi]=Đồng hồ số BE style
Name[wa]=Ôrlodje didjitåle BE style
Name[x-test]=xxDigital Clock BE stylexx
Name[zh_CN]=数字钟 BE style
Name[zh_TW]=數位時鐘 BE style

Comment=Time displayed in a digital format
Comment[ast]=Hora amosada nun formatu dixital
Comment[bs]=Vrijeme prikazano u digitalnom obliku
Comment[ca]=Mostra l'hora en un format digital
Comment[ca@valencia]=Mostra l'hora en un format digital
Comment[cs]=Čas zobrazený v digitální podobě
Comment[da]=Tiden vist i et digitalt format
Comment[de]=Zeigt die Uhrzeit in digitaler Form an.
Comment[el]=Εμφάνιση της ώρας σε ψηφιακή μορφή
Comment[en_GB]=Time displayed in a digital format
Comment[es]=La hora mostrada en formato digital
Comment[et]=Aja esitamine digitaalsel kujul
Comment[eu]=Ordua formatu digitalean bistaratua
Comment[fi]=Aika näytettynä digitaalimuodossa
Comment[fr]=L'heure au format numérique
Comment[gl]=A hora mostrada nun formato dixital
Comment[he]=השעה מוצגת בפורמט דיגיטלי
Comment[hu]=Digitális formában kijelzett idő
Comment[id]=Waktu ditampilkan dalam format digital
Comment[is]=Klukkan sýnd á stafrænu formi
Comment[it]=Ora indicata in formato digitale
Comment[ja]=デジタル形式で表示される時刻
Comment[ko]=디지털 시계
Comment[lt]=Laikas rodomas skaitmeniniu formatu
Comment[nb]=Klokkeslett vist i digitalt format
Comment[nds]=Tiet wiest in digitaal Formaat
Comment[nl]=Tijd weergegeven in een digitale opmaak
Comment[nn]=Klokka vist i digitalformat
Comment[pl]=Wyświetla czas w formacie cyfrowym
Comment[pt]=A hora apresentada num formato digital
Comment[pt_BR]=Hora exibida em formato digital
Comment[ru]=Показ времени цифрами
Comment[sk]=Čas zobrazený v digitálnom formáte
Comment[sl]=Prikaz časa v digitalni obliki
Comment[sr]=Време дато у дигиталном формату
Comment[sr@ijekavian]=Време дато у дигиталном формату
Comment[sr@ijekavianlatin]=Vreme dato u digitalnom formatu
Comment[sr@latin]=Vreme dato u digitalnom formatu
Comment[sv]=Tid visad med digitalformat
Comment[tr]=Dijital biçimde gösterilen saat
Comment[uk]=Час, показаний у цифровому форматі
Comment[x-test]=xxTime displayed in a digital formatxx
Comment[zh_CN]=以数字格式显示的时间
Comment[zh_TW]=以數位格式顯示時間

Icon=preferences-system-time
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.digitalclock-ng
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Date and Time
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
